.container{
    width:800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;

}
.white{
    height:150px;
    width: 150px;
    background-color: #f0d9b5;
}

.black{
    height:150px;
    width:150px;
    background-color:#b58863;
}